LOG_LEVEL=INFO
HEADLESS=false
TIMEOUT_SECONDS=15
OUTPUT_DIR=./salida

USERS_YADIRA_LOCATION=raulcuevas
USERS_YADIRA_USERNAME=261168111
USERS_YADIRA_PASSWORD=

USERS_<USERID>_LOCATION=
USERS_<USERID>__USERNAME=
USERS_<USERID>_PASSWORD=
